/* .navbar-container {
    background-color: #1e3a8a;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-icons {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dark-mode-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
   */
  
   
@media (min-width: 1024px) {
  .navbar .lg\:hidden {
    display: none;
  }

  .navbar .lg\:flex {
    display: flex;
  }

  .navbar .mt-2 {
    margin-top: 0.5rem;
  }
}

@media (max-width: 1023px) {
  .navbar .lg\:hidden {
    display: block;
  }

  .navbar .lg\:flex {
    display: none;
  }

  .navbar .block {
    display: block;
  }

  .navbar .hidden {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .text-lg {
    font-size: 1rem;
  }

  .text-xl {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 450px) {
  .welcome-message {
    display: none;
  }

  .name-text {
    font-size: 1rem;
  }
}