.full_container{
    display: flex;
     padding: 2rem;
    justify-content: space-around;
    width: 100%;
    align-items: center;
   
}
.UserList{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    color: #000;
    height: 100%;
    width: 27%;
    margin: 0 1rem;
   
}
.singleUser{
display: flex;
gap: 10px;
align-items: center;
margin-top: .8rem;
width: 100%;
padding: 1rem;
cursor: pointer;
justify-content: center;
}
.singleUser:hover{
    background: rgb(214, 218, 214);
    color: #000;
    border-radius: 5%;
}
.userImg{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.chatBox{
box-shadow: 0 0 4px;
}

.modal-overlay {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .conversation {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .conversation.active {
    background-color: #b0a3a3; /* Highlight color for active conversation */
    font-weight: bold; /* Optional: Make the text bold */
  }
  
  